.menu-container {
    display: flex;
    background: linear-gradient(135deg, #b39ddb, #46064d, #b39ddb);
    align-items: center;
    font-size: 22px;
    border-bottom: 2px #ffffff solid;

}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 70px;
    margin-right: 10px;
}

.logo span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

nav {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;


}

nav ul li a {
    padding: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    color: #a70000;
    text-decoration: underline;

}





.imglateral {
    width: 35vw;
    height: 350px;
    background-color: #a70000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.imglateral:hover img {
    transform: scale(1.1);
    filter: brightness(0.7)
}

.link-noticia {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}




.imglateral img,
.imglateral2 img {
    width: 35vw;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;


}

.imglateral2 {
    width: 35vw;
    height: 350px;
    background-color: #7200a7;
    border-radius: 10px;
    position: relative;
    overflow: hidden;



}

.imglateral2:hover img {
    transform: scale(1.1);
    filter: brightness(0.7)
}





.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: 8vh;

}


.imggrande {
    width: 35vw;
    height: 740px;
    background-color: blue;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.imggrande img {
    width: 35vw;
    height: 740px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.imggrande:hover img {
    transform: scale(1.1);
    filter: brightness(0.7)
}


.gap {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.btn-exemplo {
    background-color: #a70000;
    padding: 0.5em 1em;
    height: 10vh;
    width: 10vw;
    border-radius: 10vw;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 3px 3px 3px;
    cursor: pointer;
    z-index: 1000;
}

.btn-exemplo-superior {
    background-color: #2400a7;
    padding: 0.5em 1em;
    height: 10vh;
    width: 10vw;
    border-radius: 10vw;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 3px 3px 3px;
    cursor: pointer;
    z-index: 1100;
}

.container-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;

}

.img-lateral-esquerda img {
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
    object-fit: cover;
}

article {
    display: flex;
    align-items: center;

    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    padding: 20px;


}

.container {
    overflow: hidden;
}


.img-tres img {
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
    object-fit: cover;


}

.img-tres:hover img {
    transform: scale(1.1);
    filter: brightness(0.7);
}

.conteudo {

    padding-left: 20px;

}

.conteudo h1 {
    font-size: 30px;
    padding-bottom: 10px;

}

.conteudo p {
    font-size: 17px;
    text-align: justify;
}

* {
    margin: 0;
}

.container-tres-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 4vw;

}

.container-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    flex: 1;
    max-width: 300px;
    gap: 2vw
}

.container-tres-noticias a {
    font-size: 20px;
    text-decoration: none;
    color: black;

}

.linha {
    border: 1px black solid;
    width: 70vw;
    margin: 0 auto;

}

.text-titulos a {

    position: absolute;
    font-size: 30px;
}

footer {
    background-color: #46064d;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10vw;
    height: 50vh;

}

footer h1 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}

.logo-footer {
    height: 200px;
    width: 200px;
    display: flex;
    padding-top: 40px;

}


.conteudo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.alinhamento-footer {
    display: flex;
    flex-direction: row;
    gap: 1vw;

}

.espacamento-divs {
    padding: 20px;

}

.p-destaque {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.main-sobre {
    border-radius: 10px;
    background-color: black;
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top:10vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 6vw;
    padding-left: 6vw;
    
    
}

.main-sobre p{
    color: #fff;
    font-size: 25px;
    text-align: justify;
    
}

.criadora{
    background-color: #b39ddb;
    margin-right: 25vw;
    margin-left: 25vw;
    margin-top:10vh;
    padding-bottom: 20vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criadora img{
    padding-top: 1vh;
    display: flex;
    border-radius: 300px;
    
}


